<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <style>
      html, body {
        font-family: 'Source Sans Pro', sans-serif !important;
      }
    </style>
  </head>
  <body>
  <div id="container"></div>
  </body>
</html>